.expenses {
  padding: 1rem;
  background-color: #dfdffd;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  /* 
  Card.css
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
}
